.event-task-card {
    width: 540px;
    margin: 20px;
    height: 219px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.task__card {
    padding: 23px;
}

.task_card_image img {
    width: 195px;
    height: 174px;
    border-radius: 15px;
}

.details p {
    text-align: left;
}

.details {
    position: relative;
}

.details button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 131px;
    height: 48px;
    background: #E3E3E3;
    border-radius: 5px;
    color: #787878;
    border: none;
    margin-right: 10px;
}